.contact-form
  %form
    %label Name:
    %input{type: 'text', name: 'name', id: 'name'}
    %label Email:
    %input{type: 'text', name: 'email', id: 'email'}
    %label Address:
    %input{type: 'text', name: 'address', id: 'address'}
    %label Phone:
    %input{type: 'text', name: 'phone', id: 'phone'}
    %input{type: 'button', value: 'save', class: 'save'}
